:root {
  --primary: #E7DDBA;
  --secondary: #A1683A;
  --accent: #305252;
  --dark: #373E40;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.accent {
  background-color: var(--accent);
}

.dark {
  background-color: var(--dark);
}

.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #000000 solid;
  }
  
  .row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #efefef solid;
  }
  
  .row-striped {
      padding: 15px 0;
  }

#notes-container {

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1pc;


}

#notes-container button {

/* Possible button adjustments:
    background-color: var(--accent);
    color: var(--primary);
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px; */

    border: none;

}


  .note-group {
    display: flex;
    flex-wrap: wrap;
  }

  .note-group .card{

    max-width: 18pc;
  }